.board {
  @include fixed-size(200px);

  border-collapse: collapse;
  border-spacing: 0;

  .board-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: to-rem(1);
    width: 100%;

    .board-row:first-child {
      .board-cell:first-child {
        border-radius: $border-radius 0 0 0;
      }

      .board-cell:last-child {
        border-radius: 0 $border-radius 0 0;
      }
    }

    .board-row:last-child {
      .board-cell:first-child {
        border-radius: 0 0 0 $border-radius;
      }

      .board-cell:last-child {
        border-radius: 0 0 $border-radius 0;
      }
    }
  }
}
