.board {
  @include fixed-size(to-rem(600));

  background-color: $color-purple-dark;
  border-radius: $border-radius;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: opacity 0.5s ease;

  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .board-table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 100%;
    width: 100%;

    .board-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .board-row:first-child {
        .board-cell:first-child {
          border-radius: $border-radius 0 0 0;
        }

        .board-cell:last-child {
          border-radius: 0 $border-radius 0 0;
        }
      }

      .board-row:last-child {
        .board-cell:first-child {
          border-radius: 0 0 0 $border-radius;
        }

        .board-cell:last-child {
          border-radius: 0 0 $border-radius 0;
        }
      }
    }
  }
}
