$inset-shadow: to-rem(4);
$button-size-large: to-rem(60);
$button-size-medium: to-rem(46);
$button-size-small: to-rem(30);

.button {
  @include font-label;

  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background-color: $color-transparent;
  border-color: $color-transparent;
  border-radius: $border-radius;
  border-style: solid;
  border-width: to-rem(2);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: none;
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  &:not(.none) {
    &::before {
      @include light-reflection;
    }

    &::after {
      background: radial-gradient($color-white, $color-transparent);
      border-radius: 50%;
      content: '';
      height: to-rem(4);
      left: to-rem(4);
      position: absolute;
      top: to-rem(4);
      transform: translate(-50%, -50%) rotate(-20deg);
      pointer-events: none;
      width: to-rem(6);
      filter: blur(to-rem(0.5));
    }

    &.has-text {
      padding: 0 to-rem(30);
    }

    &.medium {
      height: $button-size-medium;
      max-height: $button-size-medium;
      min-width: $button-size-medium;

      &:not(.has-text) {
        max-width: $button-size-medium;
      }
    }

    &.small {
      height: $button-size-small;
      max-height: $button-size-small;
      min-width: $button-size-small;

      &:not(.has-text) {
        max-width: $button-size-small;
      }
    }

    &.large {
      height: $button-size-large;
      max-height: $button-size-large;
      min-width: $button-size-large;

      &:not(.has-text) {
        max-width: $button-size-large;
      }
    }
  }

  &.none {
    color: $color-white;
    padding: 0;
  }

  &.primary {
    background-color: $color-orange;
    border-color: $color-brown;
    box-shadow: inset 0 $inset-shadow $color-yellow, inset 0 - $inset-shadow $color-orange-dark;
    color: $color-brown;
  }

  &.secondary {
    background-color: $color-purple-light;
    border-color: $color-purple-dark;
    box-shadow: inset 0 $inset-shadow $color-pink, inset 0 - $inset-shadow $color-purple;
    color: $color-white;
  }

  &.is-disabled {
    background-color: $color-gray;
    border-color: $color-black;
    box-shadow: inset 0 $inset-shadow $color-gray-light, inset 0 - $inset-shadow $color-gray-dark;
    color: $color-white;
    pointer-events: none;
  }

  &:not(.is-disabled) {
    &:hover {
      @include animation-push;
    }

    &:active {
      @include animation-bounce;
    }
  }

  .button-content,
  .button-content-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &.is-loading {
    .button-loader {
      @include center-element;
    }

    .button-content {
      opacity: 0;
      pointer-events: none;
    }
  }

  .button-content-text,
  .button-content > .icon {
    margin-right: to-rem(8);
  }

  .button-content > :last-child {
    margin-right: 0;
  }
}
