$header-height-small: to-rem(66);
$header-height-medium: to-rem(120);

.header {
  align-items: center;
  background: $color-gradient-linear;
  box-shadow: inset 0 to-rem(-4) rgba($color-white, 0.1),
    0 to-rem(4) to-rem(10) rgba($color-black, 0.3);
  column-gap: to-rem(10);
  display: grid;
  grid-template-columns: 1fr minmax(auto, 40%) 1fr;
  overflow: hidden;
  width: 100%;

  @include bp-phablet {
    column-gap: to-rem(20);
    grid-template-columns: 1fr minmax(auto, 60%) 1fr;
  }

  &.small {
    height: $header-height-small;
    max-height: $header-height-small;
    min-height: $header-height-small;
    padding: 0 to-rem(10);
  }

  &.medium {
    height: $header-height-medium;
    max-height: $header-height-medium;
    min-height: $header-height-medium;
    padding: 0 to-rem(40);
  }

  .header-title {
    color: rgba($color-white, 0.8);
    text-align: center;
    white-space: nowrap;
  }

  .header-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header-left-side {
    margin-right: auto;
  }

  .header-right-side {
    margin-left: auto;
  }
}
