$header-height-small: to-rem(66);
$header-height-medium: to-rem(120);

.header {
  align-items: center;
  background: $color-gradient-linear;
  box-shadow: inset 0 to-rem(-4) rgba($color-white, 0.1),
    0 to-rem(4) to-rem(10) rgba($color-black, 0.3);
  display: flex;
  flex-direction: row;
  width: 100%;

  &.small {
    height: $header-height-small;
    max-height: $header-height-small;
  }

  &.medium {
    height: $header-height-medium;
    max-height: $header-height-medium;
  }

  .header-title {
    align-items: center;
    flex: 1;
    opacity: 0.8;
    white-space: nowrap;
  }
}
