.game-settings {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & > .button {
    margin: 0 auto;
  }

  .block-container {
    margin-bottom: to-rem(30);
    max-width: to-rem(900);

    &.players {
      .block-container-content {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}
