@keyframes keyframes-error-boat {
  0%,
  50%,
  100% {
    background-color: rgba($color-red, 0);
  }

  25%,
  75% {
    background-color: rgba($color-red, 0.6);
  }
}

.boat {
  position: absolute;

  img {
    transition: 0.2s;
  }

  &.boat--direction-east {
    rotate: 90deg;
  }

  &.boat--direction-west {
    rotate: -90deg;
  }

  &.boat--direction-south {
    rotate: 180deg;
  }

  &.boat--is-placement-active {
    &:hover {
      background-color: rgba($color-white, 0.1);

      img {
        transform: scale(0.95);
      }
    }

    &.boat--is-error {
      animation: keyframes-error-boat 0.2s linear;
    }
  }

  .boat-image {
    height: 100%;
    width: 100%;
  }
}
