.page-game {
  height: 100vh;
  width: 100vw;

  .content {
    display: grid;
    padding: to-rem(100) 20%;
    row-gap: to-rem(30);

    .share-link {
      .block-container-content {
        display: flex;
        flex-direction: row;

        .text-container {
          margin-right: to-rem(10);
        }

        .button:not(.is-disabled) {
          border-color: $color-purple-dark-2;
        }
      }
    }
  }
}
