html,
body {
  background-color: $color-purple-dark-2;
  box-sizing: border-box;
  color: $color-white;
  font-family: $font-name-roboto, sans-serif;
  user-select: none;
}

input {
  outline: none;
  border: none;
}

#main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden auto;
}
