* {
  box-sizing: border-box;
}

html,
body {
  background-color: $color-purple-dark-2;
  color: $color-white;
  font-family: $font-name-roboto, sans-serif;
  user-select: none;
}

input {
  outline: none;
  border: none;
}
