// Text styles
@mixin font-title-h1 {
  font-size: to-rem(28);
  font-weight: $font-weight-black;
  line-height: to-rem(34);
  text-transform: uppercase;

  @include bp-phablet {
    font-size: to-rem(30);
    line-height: to-rem(36);
  }

  @include bp-tablet {
    font-size: to-rem(32);
    line-height: to-rem(38);
  }

  @include bp-desktop {
    font-size: to-rem(34);
    line-height: to-rem(40);
  }

  @include bp-large-desktop {
    font-size: to-rem(36);
    line-height: to-rem(42);
  }
}

@mixin font-title-h2 {
  font-size: to-rem(24);
  font-weight: $font-weight-black;
  line-height: to-rem(28);
  text-transform: uppercase;

  @include bp-tablet {
    font-size: to-rem(26);
    line-height: to-rem(30);
  }

  @include bp-desktop {
    font-size: to-rem(28);
    line-height: to-rem(32);
  }

  @include bp-large-desktop {
    font-size: to-rem(30);
    line-height: to-rem(34);
  }
}

@mixin font-title-h3 {
  font-size: to-rem(20);
  font-weight: $font-weight-bold;
  line-height: to-rem(24);
  text-transform: uppercase;

  @include bp-tablet {
    font-size: to-rem(22);
    line-height: to-rem(26);
  }

  @include bp-desktop {
    font-size: to-rem(24);
    line-height: to-rem(28);
  }

  @include bp-large-desktop {
    font-size: to-rem(26);
    line-height: to-rem(30);
  }
}

@mixin font-title-h4 {
  font-size: to-rem(18);
  font-weight: $font-weight-bold;
  line-height: to-rem(20);

  @include bp-desktop {
    font-size: to-rem(18);
    line-height: to-rem(20);
  }

  @include bp-desktop {
    font-size: to-rem(20);
    line-height: to-rem(22);
  }
}

@mixin font-label {
  font-size: to-rem(22);
  font-weight: $font-weight-black;
  line-height: to-rem(26);
  text-transform: uppercase;
}

@mixin font-label-small {
  font-size: to-rem(18);
  font-weight: $font-weight-black;
  line-height: to-rem(22);
  text-transform: uppercase;
}

@mixin font-text {
  font-size: to-rem(18);
  font-weight: $font-weight-regular;
  line-height: to-rem(22);
}

@mixin font-text-small {
  font-size: to-rem(14);
  font-weight: $font-weight-regular;
  line-height: to-rem(16);
}

// Animations
@mixin animation-push {
  -webkit-animation: keyframes-push 0.1s linear forwards;
  animation: keyframes-push 0.1s linear forwards;
}

@mixin animation-bounce {
  -webkit-animation: keyframes-bounce 0.25s ease-out;
  animation: keyframes-bounce 0.25s ease-out;
}

// Element position
@mixin center-element {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// Size
@mixin fixed-size($width, $height: $width) {
  height: $height;
  max-height: $height;
  max-width: $width;
  min-height: $height;
  min-width: $width;
  width: $width;
}

// Other
@mixin light-reflection {
  background-color: $color-white;
  border-radius: $border-radius;
  content: '';
  height: 50%;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

// Media breakpoints
@mixin bp-phablet {
  @media (min-width: $breakpoint-extra-small) {
    @content;
  }
}

@mixin bp-tablet {
  @media (min-width: $breakpoint-small) {
    @content;
  }
}

@mixin bp-desktop {
  @media (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin bp-large-desktop {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}
