// Colors
$color-black: '#1C1C1C';
$color-gray-dark: '#636363';
$color-gray-light: '#A9A9A9';
$color-gray: '#EEEEEE';
$color-orange-dark: '#F39221';
$color-orange: '#F7B623';
$color-pink: '#E290FF';
$color-purple-dark-2: '#25143C';
$color-purple-dark: '#3A1D62';
$color-purple-light: '#A452DA';
$color-purple: '#7E29C2';
$color-white: '#FFFFFF';
$color-yellow: '#F9D722';

// Icons size
$icon-size-small: 26;
$icon-size-medium: 30;
$icon-size-large: 60;
$icon-size-extra-large: 80;
