// Colors
$color-black: #1c1c1c;
$color-brown: #873100;
$color-gray-dark: #636363;
$color-gray-light: #a9a9a9;
$color-gray: #808080;
$color-orange-dark: #f39221;
$color-orange: #f7b623;
$color-pink: #e290ff;
$color-purple-dark-2: #25143c;
$color-purple-dark: #3a1d62;
$color-purple-light: #a452da;
$color-purple: #7e29c2;
$color-red: #820000;
$color-transparent: transparent;
$color-white: #fff;
$color-yellow: #f9d722;

// Gradient colors
$color-gradient-linear: linear-gradient(
    180deg,
    $color-purple-dark 12.5%,
    $color-purple-dark 12.51%,
    rgba($color-purple, 0.6) 99.95%
  ),
  $color-purple-dark;
$color-gradient-radial-dark: radial-gradient(
  50% 50% at 50% 50%,
  $color-purple-dark 0%,
  $color-purple-dark-2 100%
);

// Breakpoints
$breakpoint-large: 1300px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 480px;

// Border
$border-radius: to-rem(6);

// Icon sizes
$icon-size-extra-large: to-rem(80);
$icon-size-large: to-rem(60);
$icon-size-medium: to-rem(30);
$icon-size-small: to-rem(26);

// Fonts name
$font-name-roboto: 'Roboto';

// Fonts weight
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-regular: 400;

// Keyframes
@keyframes keyframes-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

@keyframes keyframes-push {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.98);
  }
}

@keyframes keyframes-bounce {
  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.95, 1.05);
  }

  50% {
    transform: scale(1.05, 0.95);
  }

  75% {
    transform: scale(0.98, 1.02);
  }
}
